{% extends "layout.html" %}
{% from "macros.html" import pagination %}

{% block content %}
    <section>
        <h1>Users  <small>page {{ users.page }}</small></h1>

        <table>
            <thead>
                <tr>
                    <td>User ID</td>
                    <td>Name</td>
                    <td>First seen</td>
                    <td>Last seen</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users.items %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="{{ url_for("users.user", _id=user.id) }}">{{ user.name }}</a></td>
                        <td>{{ user.first_seen }} UTC</td>
                        <td>{{ user.last_seen }} UTC</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ pagination(users, "users.users") }}
    </section>
{% endblock %}
