@import "normalize"
@import "../bower/bourbon/dist/bourbon"
@import "bitters/bitters"
@import "../bower/neat/app/assets/stylesheets/neat"

// General layout
@import nav
@import hero
@import cards
@import footer
@import progress_bar
@import pagination

// Sections
section
  @include outer-container
  @include padding(1em inherit)

  &.advertisement
    border-top: $base-border-radius dashed $base-border-color
    text-align: center

  &.an-challenger
    border-bottom: $base-border-radius dashed $base-border-color
    &:last-of-type
      border-bottom: 0

  &.your-heroes
    h2
      display: inline-block

    p.timeleft
      display: inline-block
      color: darken($base-font-color, 50%)

p.footnote
  font-size: $base-font-size * 0.75
  color: darken($base-font-color, 50%)
  text-align: center

.footer
  p.version
    font-size: x-small
