{% from "macros.html" import logo %}

<header class="navigation">
    <div class="menu-wrapper">
        <a href="{{ url_for('index') }}" class="logo">
            {{ logo() }}
        </a>

        <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>

        <div class="nav">
            <ul id="navigation-menu">
                <li class="nav-link"><a href="{{ url_for('users.users') }}">Users</a></li>
                <li class="nav-link"><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
                <!--<li class="nav-link more"><a href="TODO">Leaderboards</a>
                    <ul class="submenu">
                        <li><a href="TODO">Global</a></li>
                        <li><a href="TODO">Regional</a></li>
                        <li><a href="TODO">Friends list</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
        <div class="navigation-tools">
            {% if current_user.is_authenticated() %}
                <a href="{{ url_for('users.logout') }}" class="user-profile">Logout {{ current_user.name }}</a>
            {% else %}
                <a href="{{ url_for('users.login') }}" class="sign-up">Sign in with Steam</a>
            {% endif %}
        </div>
    </div>
</header>
